 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/IMG-7576.jpg");
  background-position: 50% 57.85%;
}

.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 52px -13px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 100% 57.85%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 13px;
    margin-right: -36px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-text-1 {
  margin: 69px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 745px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  width: 745px;
  margin: 17px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    font-size: 1.125rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 215px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 746px;
  margin: 0 auto 54px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin: 0 0 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 476px;
}

.u-section-4 .u-image-1 {
  width: 434px;
  height: 434px;
  object-position: 50% 93.21%;
  margin: 0 auto 42px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-bottom: 10px;
  }
}