.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-image-1 {
  width: 1034px;
  height: 673px;
  object-position: 50% 58.58%;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 612px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 469px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 352px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 222px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 223px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 59px auto 0;
  padding: 6px 24px 7px 23px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: -42px auto 0 708px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: -54px auto 60px 385px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 349px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
    margin-left: 579px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 234px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 438px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 335px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -80px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -48px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -42px;
    margin-bottom: 11px;
    margin-left: 0;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 701px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 611px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 611px;
  background-image: url("images/IMG-9769.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-3 .u-icon-1 {
    padding: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 504px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 579px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 172px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 47px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 1px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-image-1 {
    min-height: 331px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("images/IMG-0121.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 67px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-4 .u-icon-1 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 154px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-image-1 {
    min-height: 324px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 8px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 428px;
}

.u-section-5 .u-group-1 {
  width: 1070px;
  min-height: 254px;
  height: auto;
  margin: 100px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 380px;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: -48px auto 0 314px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 12px 207px 0 188px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 334px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 276px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 142px;
    margin-left: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 256px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 20px;
    margin-left: 211px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 32px;
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 192px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 158px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    margin-bottom: 26px;
    min-height: 490px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 61px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 3px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 190px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 3px;
  }
} .u-section-6 {
  background-image: url("images/IMG_0262.JPEG");
  background-position: 50% 57.26%;
}

.u-section-6 .u-sheet-1 {
  min-height: 534px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 478px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 328px;
  }
}